**.json
**.geojson
*~
**.pyc
code/phase01-mask-generation
code/phase02-mask-generation

code/1_raw/.ipynb_checkpoints/
.ipynb_checkpoints/

data/phase-02/

phase-01/data/harvested/
phase-01/data/sentinel-2a-tile-7680x-10240y/geometry/
phase-01/data/sentinel-2a-tile-7680x-10240y/timeseries/
